@import url('https://fonts.googleapis.com/css2?family=Barlow:display=swap');

html, body{
    font-family: 'Barlow', sans-serif;
    background-color: #f7f7f7;
    overflow-x: hidden;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
.header {
    position: relative;    
    color: rgb(255, 255, 255);
}

.under-footer{
    width: fit-content;
    padding: 0px 5px 0px 5px;
    height: 40px;
    margin: 5% auto;
}
.under-footer h3{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: #5c0931;
}
.inner-header h1{
    font-size: 65px;
    font-weight: bold;
}
.main-menu{
    padding: 10px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    border-radius: 3px;
  }

.header {
    position: relative;
    /* background: url(src/usa4.jpg); */
    background-size: cover;
    color: rgb(255, 255, 255);
}
.inner-header {
    height: 50vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: #fff;
}
.content-section-1{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 1200px;
    margin: auto;
}
.content-section-2{
    margin: auto;
}
.content-section-2 .content-about{
    text-align: center;

}
.content-section-1 img{
    height: 200px;
}
.content-section h2{
    font-size: 230%;
    margin: 0;
}
.content-section p{
    margin-right: 30px;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 100px;
}

.parallax > use {
    -webkit-animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
            animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    -webkit-animation-duration: 7s;
            animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    -webkit-animation-duration: 13s;
            animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
}

@-webkit-keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}

@keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}

@media (max-width : 768px) {
    h1 {
        font-size: 24px;
    }
    .content {
        height: 30vh;
    }
    .wave {
        height: 40px;
        min-height: 40px;
    }
}
.content-about{
    align-items: center;
    
    font-size: 135%;
    width: 80%;;
    margin: auto;
    justify-content: center;
    color: rgb(187, 28, 55);
    text-align: left;
}
.content-about h2{
    font-size: 30px;
    font-weight: 300;
    line-height: 1.1;
    color: #5c0931;
}
.content-about p{
    color: #5c0931;
    font-size: 16px;
    line-height: 1.5;
}
.content-about h3{
    font-size: 40px;
    font-weight: 400;
    line-height: 1.1;
    color: #5c0931;
    /* text-align: left; */
}
.grid-container .btn {
    position: absolute;
    font-size: 16px;
    background-color: #460c2ef1;
    border-radius: 4px;
    padding: 12px 32px;
    text-decoration: none;
    display: inline-block;
    margin-top: -5%;
    opacity: 0;
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 16px -4px rgba(0, 0, 0, 0.3);
    transition: all 500ms;
    font-weight: 400;
    line-height: 1.5;
}
.grid-container .btn:hover {
    background-color: #460c2e;
}
.grid-item h2{
    color: rgb(255, 255, 255);
    position: absolute;
    padding: 0px 30px;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);

    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
}

.book-cont{
    width: 80%;
    height: 250px;
    margin: 5% auto;
    border: #dee2e6 1px solid;
    background-color: white;
    color: #5c0931;
    border-radius: 24px;
}
.book-cont ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 1% 0;
    margin: 0;
    border-bottom: 1px solid #dee2e6;   
}
.book-cont ul a{
    font-size: 16px;
    line-height: 1.5;
}

.booking-content{
    width: 80%;
    margin: auto;
}