.header {
    background: url(src/europe/europe.jpg);
    background-size: cover;
}
.grid-container{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    width: 1200px;
    margin: auto;
}
.grid-container img{
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    width: 600px;
    height: 500px;
}
.grid-item-1:hover .btn,
.grid-item-2:hover .btn,
.grid-item-3:hover .btn,
.grid-item-4:hover .btn,
.grid-item-5:hover .btn,
.grid-item-6:hover .btn{
    opacity: 1;
}